<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HiLookback.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F9E0A9C1B92BE81005CC8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F9E0AB51B92BE82005CC8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F9E0AC01B92BE82005CC8AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
